@model Course
@{
    ViewData["Title"] = "Search for Courses";
}

@using (
Html.BeginForm("FindCoursesByDepartment", "ManualCourse", FormMethod.Post)
)
{


    <h2>Search for Courses</h2>

    @Html.Label("Select Department Name (Optional)")
    @Html.DropDownList("departmentID", (SelectList)ViewBag.Departments, string.Empty);

    <input type="submit" class="btn btn-default" value="Search"/>

}
